<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="secondary">
            <ion-button [routerLink]="['/login']">
                <ion-icon slot="icon-only" name="person"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Accueil</ion-title>
        <ion-buttons slot="primary">
            <ion-button [routerLink]="['/cartographie']">
                <ion-icon slot="icon-only" name="pin"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding="true">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div *ngIf="this.status =='OFFLINE'">Vous n'êtes pas connecté à Internet {{this.status}}</div>
                <div *ngIf="!this.userEmail">
                    <ion-button [routerLink]="['/login']" expand="block">
                        <ion-icon name="body"></ion-icon> Authentifiez-vous
                    </ion-button>
                    <ion-note>L'accès à certaines fonctionalités requiert que vous soyez authentifié.</ion-note>

                </div>
                <br>
                <ion-note>
                    <div *ngIf="this.userEmail">
                        <span>Bienvenue {{this.userEmail}}</span>                      
                        <ion-button [routerLink]="['/updatemydata']" [queryParams]="this.userEmail"  expand="block">
                            <ion-icon name="md-done-all"></ion-icon> Modifier vos données
                        </ion-button>
                    </div>
                </ion-note>
                <br>
            </ion-col>
            <ion-col size="12" *ngFor="let item of interactions">
                <span *ngIf="item.categorie==='Alerte'">
                </span>

                <ion-label>
                    <strong>{{item.titre}}</strong>
                    <br>
                </ion-label>
                <h6 ion-text color="light">
                    {{item.dateposte}}
                </h6>
                <span *ngIf="item.categorie==='Alerte'">
                    <ion-badge color="danger" slot="end">
                        Alerte
                    </ion-badge>
                </span>
                <ion-col size="12">
                    <ion-label>
                        {{ item.description }}
                        <br>
                    </ion-label>
                </ion-col>
            </ion-col>

            <ion-col size="12">
                <ion-content fullscreen>
                    <ion-list>
                        <ion-list-header>Informations</ion-list-header>

                        <ion-item>

                            <ion-label>
                                <a [routerLink]="['/infos']" [queryParams]="ObjNouvelles">
                                    Nouvelles
                                </a>
                            </ion-label>

                        </ion-item>
                        <!-- Alertes -->
                        <ion-item>
                            <ion-label>

                                <a [routerLink]="['/infos']" [queryParams]="ObjAlertes">
                                    Alertes
                                </a>
                            </ion-label>

                        </ion-item>
                        <!-- Ordre des pharmaciens -->
                        <ion-item>
                            <ion-label>

                                <a [routerLink]="['/infos']" [queryParams]="ObjOpharmaciens">
                                    Ordre des pharmaciens
                                </a>
                            </ion-label>

                        </ion-item>
                        <!-- Fermeture pharmacie -->
                        <ion-item>
                            <ion-label>

                                <a [routerLink]="['/infos']" [queryParams]="ObjClosePharma">
                                    Fermeture pharmacie
                                </a>
                            </ion-label>

                        </ion-item>
                        <!-- Retrait produit -->
                        <ion-item>
                            <ion-label>

                                <a [routerLink]="['/infos']" [queryParams]="ObjRetiredPharma">
                                    Retrait produit
                                </a>
                            </ion-label>

                        </ion-item>
                        <!-- Ordre des médecins -->
                        <ion-item>
                            <ion-label>

                                <a [routerLink]="['/infos']" [queryParams]="ObjOrdMedecins">
                                    Ordre des médecins
                                </a>
                            </ion-label>

                        </ion-item>
                        <!-- Ordre des dentistes -->
                        <ion-item>
                            <ion-label>

                                <a [routerLink]="['/infos']" [queryParams]="ObjOrdDentistes">
                                    Ordre des dentistes
                                </a>
                            </ion-label>

                        </ion-item>
                        <!-- Ordre des kinésitérapheutes -->
                        <ion-item>
                            <ion-label>
                                <a [routerLink]="['/infos']" [queryParams]="ObjOrdKine">
                                    Ordre des kinésitérapheutes
                                </a>
                            </ion-label>

                        </ion-item>
                        <!-- Ordre des tradi -->
                        <ion-item>
                            <ion-label>

                                <a [routerLink]="['/infos']" [queryParams]="ObjOrdTradi">
                                    Ordre des tradi praticiens
                                </a>
                            </ion-label>

                        </ion-item>
                        <!-- Ordre des infirmiers -->
                        <ion-item>
                            <ion-label>

                                <a [routerLink]="['/infos']" [queryParams]="ObjOrdInfis">
                                    Ordre des infirmiers
                                </a>
                            </ion-label>

                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-col>
            <ion-col size="12"></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer></ion-footer>